<md-card class="md-whiteframe-1dp">
	<div class="table-responsive-vertical">
		<table id="table" class="table table-hover">
			<thead>
				<tr >
					<th width="2%">No</th>
					<th width="20%">Version Name</th>
					<th width="20%">Version Code</th>
					<th width="5%">Status</th>
					<th width="5%">Update</th>
					<th width="5%" style="text-align:center;">Action</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="a in app">
					<td data-title="No">{{($index+1) + (paging.current * paging.limit) - paging.limit}}</td>
					<td data-title="Version Code">{{a.version_name}}</td>
					<td data-title="Version Code">{{a.version_code}}</td>
					<td data-title="Status">
						<draft ng-if="a.active != 1">INACTIVE</draft>
						<publish ng-if="a.active == 1">ACTIVE</publish>
					</td>	
					<td data-title="Update">{{a.last_update | date:'dd MMM yy'}}</td>
					<td data-title="Action">
						<div layout="row" layout-align="center">
							<md-button ng-if="a.active != 1" layout-align="center" class="md-btn-small" ng-click="deleteVersion($event, a)">
								<md-icon class="md-ic-small" ng-style="{'font-size': '15px'}">delete</md-icon>
								<md-tooltip>Delete Item</md-tooltip>
							</md-button>
							<md-button layout-align="center" class="md-btn-small" ng-click="addVersion($event, a)">
								<md-icon class="md-ic-small" ng-style="{'font-size': '15px'}">create</md-icon>
								<md-tooltip>Edit Item</md-tooltip>
							</md-button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div ng-if="loading" style="text-align:center;" colspan="10">
			<p>Loading</p>
			<md-progress-linear md-mode="indeterminate"/>
		</div>
	</div>

	<!--pagination view-->
	<section layout="row" class="sub-menu-bg" flex>
		<cl-paging flex cl-pages="paging.total" , cl-steps="paging.step" , cl-page-changed="paging.onPageChanged()" , cl-align="center center" , cl-current-page="paging.current"/>
	</section>

</md-card>
